%head
  %title Test Maker
  %script{src: "/javascript/jquery.min.js"}
  %script{src: "/javascript/bootstrap.min.js"}
  %script{src: "/javascript/buttons.js"}
  %link{rel: "stylesheet", href: "/css/bootstrap.min.css", type: "text/css", media: "all"}
%body
  %nav.navbar.h2.text-center Test maker
  .content
    .jumbotron
      .container
        = content
