%head
  %title Test Maker
  %script{src: "https://code.jquery.com/jquery-2.2.3.min.js"}
  %link{rel: "stylesheet", href: "/css/bootstrap.min.css", type: "text/css", media: "all"}
%body
  %nav.navbar.h2.text-center Test maker
  .content
    .jumbotron
      .container
        = content
