%head
  %title Teachbase | Конвертация тестов
  %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"}
  %meta{charset: "UTF-8"}
  %link{rel: "icon", type: "image/png", href: "//teachbase.ru/favicon.ico"}
  %link{rel: "stylesheet", href: "//fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic"}
  %link{rel: "stylesheet", href: "/css/bootstrap.min.css", type: "text/css", media: "all"}
  %link{rel: "stylesheet", href: "/css/my.css", type: "text/css", media: "all"}
%body
  .content
    .jumbotron
      .container
        = content
  %script{src: "/javascript/jquery.min.js"}
  %script{src: "/javascript/bootstrap.min.js"}
  %script{src: "/javascript/buttons.js"}
