.row
  .col-sm-6
    %form.affix-top#quiz-form{action: "/", method: "post", role: "form"}
      .form-group
        %label{for: "theme"} Quiz theme
        %input.form-control#theme{type: "text", name: "quiz[theme]", placeholder: "Type here"}
      .form-group
        %label{for: "quiz-text"} Quiz
        %textarea.form-control#quiz-text{name: "quiz[body]", rows: 15, placeholder: "Type quiz here"}
      .row
        .col-sm-6
          .form-group
            %label{for: "ques-pref"} Question prefix
            %select.form-control{name: "quiz[question_prefix]"}
              %option{value: "^\\d+\\."} Number with point
              %option{value: "^\\d+\\)"} Number with close-bracket
        .col-sm-6
          .form-group
            %label{for: "opt-pref"} Option prefix
            %select.form-control{name: "quiz[option_prefix]"}
              %option{value: "^\\s*.+?\\."} Any character with point
              %option{value: "^\\s*[A-Z]\\."} Capital latin letter with point
              %option{value: "^\\s*[A-z]\\."} Any latin letter with point
              %option{value: "^\\s*[a-z]\\."} Small latin letter with point
              %option{value: "^\\s*[a-z]\\)"} Small latin letter with close-bracket
              %option{value: "^\\s*[A-Z]\\)"} Capital latin letter with close-bracket
              %option{value: "^\\s*[A-z]\\)"} Any latin letter with close-bracket
      .form-group
        %label{for: "opt-suff"} Correct option suffix
        %input.form-control#opt-suff{type: "text", name: "quiz[option_correct]", placeholder: "+"}
      .form-group
        %input.btn.btn-success{type: "submit", value: "Submit", onclick: 'sendData()'}
  .col-sm-6
    #results
      .text-info Your result will be here
