%a.jquery{href: "http://jquery.com/"} jQuery
/ %script{src: "https://code.jquery.com/jquery-1.12.0.min.js"}
/ :javascript
/   $( document ).ready(function() {
/     $( ".jquery" ).click(function( event ) {
/       alert( "The link will no longer take you to jquery.com" );
/       event.preventDefault();
/     });
/   });

%form{action: "/", method: "post"}
  %p 
    %input{type: "text", name: "quiz[theme]", placeholder: "Quiz theme"}
  %textarea{name: "quiz[body]", cols: 30, rows: 15, placeholder: "Type quiz here"}
  %p
    Select a question prefix
    %br
    %select{name: "quiz[question_prefix]"}
      %option{value: "^\\d+\\."} Number with point
      %option{value: "^\\d+\\)"} Number with close-bracket
  %p
    Select an option prefix
    %br
    %select{name: "quiz[option_prefix]"}
      %option{value: "^\\s*.+?\\."} Any character with point
      %option{value: "^\\s*[A-Z]\\."} Capital latin letter with point
      %option{value: "^\\s*[A-z]\\."} Any latin letter with point
      %option{value: "^\\s*[a-z]\\."} Small latin letter with point
      %option{value: "^\\s*[a-z]\\)"} Small latin letter with close-bracket
      %option{value: "^\\s*[A-Z]\\)"} Capital latin letter with close-bracket
      %option{value: "^\\s*[A-z]\\)"} Any latin letter with close-bracket
  %p
    Type correct option suffix
    %br
    %input{type: "text", name: "quiz[option_correct]", placeholder: "+"}
  %p
    %input{type: "submit", value: "Submit"}
#results