%ul
  - questions.each do |question|
    %li.question-item
      = question.title
      %ul
        - question.options.each do |option|
          - if option[:correct]
            %li.option-item.correct-option{style: "background-color:#009900"}
              .field.body
                = option[:body]
          - else
            %li.option-item
              .field.body
                = option[:body]
%a#download-link{href: session[:path], download: true} Download
