%p
  %a.btn.btn-primary#download-link{href: session[:path], download: true} Download
%label{for: "quiz"} Is it correct?
%ul.list-group#quiz
  - questions.each do |question|
    %li.list-group-item
      = question.title
      %ul.list-group
        - question.options.each do |option|
          - if option[:correct]
            %li.list-group-item.list-group-item-success
              = option[:body]
          - else
            %li.list-group-item
              = option[:body]
