.my-navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0;
  border: 1px solid transparent;
  margin-top: 0;
  padding: 20px;
  background-color: #2f2f2f;
  border-color: #080808;
  color: #EEEEEE;
  border-radius: 0px;
}

.jumbotron {
  margin-bottom: 0px
}

textarea {
  resize: none;
}
